@import '../../../styles/modules/valiables.scss';
@import '../../../styles/breakpoints/base';

.container {
  @extend .content-width;
  max-width: 600px;
  margin-bottom: 20px;
  background-color: $cWhite;
  cursor: pointer;
  padding: 10px;
  transform: translateY(2%);
  transition: all 0.5s;

  &:hover {
    border: none !important;
    box-shadow: 0px 0px 15px -5px #777777;
    border-radius: 10px;
    transform: none;
  }
}

.timestamp_likes {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .timestamp {
    margin-right: 5px;
  }
}

.image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
}

.card_information {
  width: 50%;

  .title {
    width: 100%;
    @extend .font-lg;
    border-bottom: 2px solid $cGray;
    margin-bottom: 0px;
  }

  .avatar_username {
    display: flex;
    width: 100%;
    align-items: center;
    @extend .font-lr;
    border-bottom: 2px solid $cGray;
  }
}

@media (min-width: 600px) {
  .card_container {
    display: flex;
  }
  .image {
    width: 50%;
    margin-right: 10px;
  }
}
