@import "/src/styles/modules/valiables.scss";

.container {
  position: relative;
  z-index: 0;
  height: 100%;
  overflow: hidden;

  .user_titles {
    font-size: 1.3em;
  }
}

.container_titles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ui_page_change {
  margin-top: 20px;
}

.grid {
  flex-grow: 1 !important;
  min-width: 300px !important;
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;

  overflow: visible !important;
  border-top: 3px solid;

  &.purple {
    border-color: $cPurple;
  }
  &.red {
    border-color: $cRed;
  }
  &.orange {
    border-color: $cOrange;
  }
  &.green {
    border-color: $cShinGreen;
  }
  &.blue {
    border-color: $cShinBlue;
  }
}

.card_container {
  // @extend .content-width;
  position: relative;

  & p {
    color: $cRed;
  }
}

.image_category {
  position: absolute;
  top: -17px;
  left: 0;
}

.timestamp_likes {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.timestamp {
  margin-right: 5px;
}

.card_title {
  font-size: 1.3em;
  font-weight: 5000;
  cursor: pointer;

  &.purple:hover {
    color: $cPurple;
  }

  &.red:hover {
    color: $cRed;
  }
  &.orange:hover {
    color: $cOrange;
  }
  &.green:hover {
    color: $cShinGreen;
  }
  &.blue:hover {
    color: $cShinBlue;
  }
}

.image_and_delete {
  position: relative;
  z-index: 0;

  & > img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 2%;
    cursor: pointer;
  }
}

.avatar_name {
  display: flex;
  align-items: center;
  margin: 10px 0;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
}

.category_icon_container {
  width: 98% !important;
}

.category {
  padding-bottom: 5px;

  & .local_offer_icon {
    // color: $cLightBlue;
  }

  & .category_btn {
    border: none;
    background-color: transparent;
    &:focus {
      outline: 0;
    }

    &:hover {
      border-bottom: 1px solid $cBlue;
    }
  }
}

// sidecategoryã®CSS
.mobile_menu_cover {
  position: absolute;
  z-index: -100;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 1s;

  &.appear {
    z-index: 90;
    opacity: 1;
  }
}

.category_icon_container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-top: 10px;
  & > button {
    border: none;
    background-color: transparent;

    &:focus {
      outline: 0;
    }
  }

  & .category_icon {
    font-size: 35px !important;
    color: $cLightBlue;
  }
}

.category_container {
  position: absolute;
  top: 0px;
  right: -800px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  z-index: 10000;
  pointer-events: none;
  transition: all 0.5s;

  &.appear {
    right: 0px;
    pointer-events: initial;
  }
}

@media (min-width: 600px) {
  .card {
    .image_and_delete {
      & > img {
        max-height: 200px;
      }
    }
  }
}
