@import '/src/styles/modules/valiables.scss';
@import '../../../styles/breakpoints/base';

.container {
  position: relative;
  z-index: 0;
  height: 100%;
  overflow: hidden;

  .user_titles {
    font-size: 1.3em;
  }
}

.container_titles {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_container {
  position: relative;

  & > p {
    color: $cRed;
  }
}

.timestamp_likes {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .timestamp {
    margin-right: 5px;
  }
}

.image_and_delete {
  position: relative;
  z-index: 0;

  & > img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
  }
}

.title {
  @extend .font-lg;
  margin: 10px 0px;
}

.avatar_name {
  display: flex;
  align-items: center;
  margin: 10px 0;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);

  .avatar_url {
    margin-right: 5px;
  }

  > span {
    @extend .font-lr;
  }
}

.category {
  display: flex;
  align-items: center;

  .category_icon_container {
    display: flex;
    align-items: center;
    margin-right: 5px;

    .category_icon {
      color: $cLightBlue;
    }
  }

  .category_name_container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .category_name {
      flex-basis: 1;
    }
  }
}
