.contaienr_disappear {
  opacity: 0;
}

.container_appear {
  opacity: 1;
  transition: all 1s;
}

.header {
  height: 50px;
  background-color: red;
}
.footer {
  height: 50px;
  background-color: black;
}
