.container {
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  align-items: center;
  flex-basis: 47%;
  margin-right: 10px;
  transform: translateY(50%);
  opacity: 0;
  transition: opacity 2s, transform 1s;

  &.appear {
    transform: none;
    opacity: 1;
  }
}

.description_and_rating {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description_img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin-right: 10px;
}

@media (min-width: 600px) {
  .container {
    flex-direction: column;
  }
}
