@import '../../../styles/modules/valiables';

.global_container {
  @extend .border_style;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: $cWhite;
}

.container {
  @extend .content-width;
  margin-top: 50px;
}

.create_date {
  margin: 15px 0;
}

.timestamp {
  display: flex;
}

.markdown_value {
  img {
    max-width: 100%;
  }
}

.send_disable_btn {
  background-color: $cGray !important;
  border-radius: 20px !important;
  color: $cWhite !important;
  cursor: pointer !important;
  margin-bottom: 20px !important;

  &:focus {
    outline: 0;
  }
}

.send_btn {
  @extend .send_disable_btn;
  background-color: $cLightBlue !important;
}
