@import '../../../styles/modules/valiables.scss';

.comments_container {
  width: 100%;
  max-width: 600px;
  box-shadow: 0px 0px 15px -5px #777777;
  background-color: $cWhite;

  .comments_list {
    padding: 20px;
  }

  .comments_header {
    margin: 0px;
    border-bottom: 2px solid $cGray;
  }
}

.comment_container {
  border-bottom: 2px solid $cGray;
  margin-top: 10px;
  padding-bottom: 10px;

  .comment_information {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .user_informartion {
    display: flex;
    align-items: center;
  }

  .comment_text {
    margin-top: 10px;
  }
}
